/*------------------------------------------------------------
breadcrumb
------------------------------------------------------------*/

.c-breadcrumb {
  ul {
    li {
      display: inline-block;
      color: #231916;
      font-size: 1.2rem;

      @include sp {
        font-size: 1.2rem;
      }
      &:after {
        margin: 0 3px 0 6px;
        color: #231916;
        font-size: 1.5rem;
        content: ">";

        @include sp {
          margin: 0 2px 0 4px;
          font-size: 1.2rem;
        }
      }
      &:last-of-type {
        &:after {
          content: none;
        }
      }
    }
    a {
      color: #231916;
      font-size: 1.2rem;
      text-decoration: none;

      @include sp {
        font-size: 1.2rem;
      }
    }
  }
}
