/*------------------------------------------------------------
footer
------------------------------------------------------------*/

.c-footer {
  &__inner {
    margin: 0 auto;
    padding: 0 15px 68px;
    width: 100%;
    max-width: 1150px;
    position: relative;

    @include sp {
      padding: 0 0 22px;
    }
  }
  &__content {
    margin-bottom: 53px;
    display: flex;
    justify-content: space-between;
  }
  &__left {
    width: 64.3%;
    h2 {
      margin-bottom: 9px;
      padding: 3px 0 10px;
      border-bottom: 1px solid #231916;
      color: #231916;
      font-size: 2.8rem;
      letter-spacing: 0.06em;
    }
    p {
      color: #231916;
      font-size: 1.2rem;
      line-height: 2.2;
      text-align: justify;
    }
  }
  &__right {
    width: 31.2%;
    h3 {
      margin-bottom: 15px;
      padding: 14px 0 10px;
      border-bottom: 1px solid #231916;
      color: #231916;
      font-size: 1.8rem;
      letter-spacing: 0.06em;
    }
    ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      li {
        margin-bottom: 7px;
        width: 50%;
        a {
          display: block;
          position: relative;
          color: #231916;
          font-size: 1.2rem;
          text-decoration: none;
          &:after {
            position: absolute;
            top: 0;
            right: 0;
            color: #231916;
            font-size: 1.5rem;
            content: ">";
          }
        }
        &:nth-child(odd) {
          a::after {
            right: 15px;
          }
        }
      }
    }
  }
  &__content2 {
    margin-bottom: 22px;
    display: flex;
    justify-content: space-between;
  }
  &__left2 {
    width: 400px;
    p {
      color: #231916;
      font-size: 1.6rem;
      font-weight: bold;
    }
  }
  &__right2 {
    padding-top: 2px;
    width: calc(100% - 400px);
    text-align: right;
    ul {
      li {
        margin-bottom: 15px;
        margin-left: 14px;
        display: inline-block;
        line-height: 23px;
        vertical-align: text-top;
        &:first-of-type {
          margin-left: 0;
        }
        &:nth-child(2) {
          margin-left: 12px;
        }
      }
    }
    a {
      color: #231916;
      font-size: 1.3rem;
      font-weight: bold;
      text-decoration: none;
    }
    img {
      margin-right: 7px;
      vertical-align: middle;
    }
  }
  &__copy {
    color: #231916;
    font-size: 1.1rem;

    @include sp {
      font-size: 0.85rem;
      text-align: center;
    }
  }
  &__top {
    position: absolute;
    right: 15px;
    bottom: 68px;
    z-index: 100;
  }
  &__nav {
    margin-bottom: 37px;
  }
  &__nav2 {
    display: none;
    li {
      border-top: 1px solid #231916;

      a {
        padding: 11px 0 10px 40px;
        display: block;
        position: relative;
        color: #231916;
        font-size: 1.2rem;
        text-decoration: none;
      }
    }
  }
  &__item {
    border-top: 1px solid #231916;
    &:last-of-type {
      border-bottom: 1px solid #231916;
    }
    > a {
      padding: 11px 0 10px 21px;
      display: block;
      position: relative;
      color: #231916;
      font-size: 1.2rem;
      text-decoration: none;
    }
    .js-plus {
      width: 53px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      &:before,
      &:after {
        margin: auto;
        width: 8px;
        height: 1px;
        background: #231916;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        transition: 0.3s ease-in-out;
      }
      &:after {
        transform: rotate(90deg);
      }
      &.is-active {
        &:after {
          transform: rotate(0);
        }
      }
    }
  }
  &__text {
    margin-bottom: 14px;
    color: #231916;
    font-size: 1.15rem;
    text-align: center;
  }
  &__list {
    margin-bottom: 30px;
    text-align: center;
    li {
      margin-right: 6px;
      display: inline-block;
      &:last-of-type {
        margin-right: 0;
      }
      img {
        width: 14px;
        height: auto;
        vertical-align: middle;
      }
      a {
        color: #231916;
        font-size: 1.1375rem;
        text-decoration: none;
      }
    }
  }
}

/*
------------------------------------------------------------*/

.iframe-footerWrap {
  width: 100%;

  @include sp {
    width: 100%;
  }
  .iframe-footer {
    width: 100%;
    max-height: 327px;

    @include sp {
      width: 100%;
      height: unset;
      max-height: 566px;
    }
  }
}
