/*------------------------------------------------------------
header
------------------------------------------------------------*/

.c-header {
  @include sp {
    height: 80px;
  }
  &__inner {
    margin: 0 auto;
    padding: 0 15px 9px;
    width: 100%;
    max-width: 1150px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include sp {
      padding: 0 12px 0 15px;
      height: 80px;
      background: #fff;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      transition: 0.2s linear;
      &.is-sroll {
        height: 60px;
      }
    }
  }
  &__logo {
    width: 80px;
    text-align: center;

    @include sp {
      width: auto;
      img {
        width: 38.5px;
        height: auto;
      }
    }
  }
  &__menu,
  &__info {
    width: calc(50% - 40px);
  }

  &__info {
    text-align: right;
    ul {
      display: flex;
      justify-content: flex-end;
      li {
        margin-left: 6%;
        a {
          display: block;
          position: relative;
          transition: 0.3s;
          span {
            position: absolute;
            text-align: center;
            opacity: 0;
            top: -50px;
            left: 50%;
            padding: 5px 8px;
            border-radius: 4px;
            font-size: 1.2rem;
            transition: 0.3s;
            color: #231916;
            border: 1px solid #231916;
            word-break: keep-all;
            transform: translateX(-50%);
            &::after {
              position: absolute;
              top: 100%;
              left: 0;
              right: 0;
              margin: auto;
              height: 0;
              width: 0;
              border: 6px solid transparent;
              border-top: 6px solid #231916;
              content: "";
            }
          }
          &:hover span {
            opacity: 1;
            top: -43px;
          }
        }
        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }
  &__iconSP {
    margin: 0;
    text-align: center;
    cursor: pointer;
    img {
      width: 22px;
      height: auto;
    }
    p {
      color: #231916;
      font-size: 1.05rem;
      font-weight: bold;
    }
  }
}

.u-overlay {
  content: "";
  display: block;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s;
  &.open {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

.c-test {
  width: 250px;
  height: 100%;
  padding: 0 10px 100px;
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  transform: translate(250px);
	transition: all 0.5s;
	overflow: scroll;
  &.open {
    transform: translateZ(0);
  }
  &__item {
		margin-top: 40px;
    &>a {
			color: #231916;
			padding-bottom: 3px;
			padding-left: 5px;
			font-size: 1.6rem;
			font-weight: bold;
			text-decoration: none;
			border-bottom: 2px solid #231916;
			display: block;
    }
	}
	&__list {
		li {
			&>a {
				color: #231916;
				font-size: 1.4rem;
				text-decoration: none;
				border-bottom: 1px solid #ddd;
				padding: 6px 10px 5px;
				line-height: 1.8;
				font-weight: bold;
				display: flex;
				align-items: center;
				&>img {
					margin-right: 5px;
				}
				&>span:first-of-type {
					width: 25px;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}
}

.iframe-menu {
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  &.open {
    z-index: 11;
  }
}

.scroll-test {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}

/*
------------------------------------------------------------*/

.c-menu {
  display: flex;
  &__item {
    margin-right: 5.5%;
    &:last-of-type {
      margin-right: 0;
    }
    > a {
      padding: 0 0 0 20px;
      position: relative;
      color: #231916;
      font-size: 1.7rem;
      font-weight: bold;
      letter-spacing: 0.06em;
      text-decoration: none;
      // letter-spacing: 0.1em;
      &:before {
        width: 6px;
        height: 6px;
        border-right: 2px solid #c9caca;
        border-bottom: 2px solid #c9caca;
        position: absolute;
        top: 2px;
        left: 1px;
        content: "";
        transform: rotate(45deg);
      }
    }
  }
}

/*
------------------------------------------------------------*/

.iframe-headerWrap {
  @include sp {
    // padding: calc(80 / 375 * 100%) 0 0;
    width: 100%;
    // position: relative;
  }
  .iframe-header {
    width: 100%;
    max-height: 280px;

    @include sp {
      width: 100%;
      max-height: 147px;
      // height: 100%;
      // position: absolute;
      // top: 0;
      // left: 0;
    }
  }
}

.c-banner {
  text-align: center;
  margin-bottom: 30px;
  @include sp {
    margin-bottom: 5px;
    padding: 0 10px;
  }
  a {
    display: inline-block;
    &:hover {
      opacity: 0.7;
      @include sp {
        opacity: 1;
      }
    }
  }
}
