/*------------------------------------------------------------
layout
------------------------------------------------------------*/

.l-container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1150px;

  @include sp {
    padding: 0;
  }
}

/*
------------------------------------------------------------*/
.l-content {
  display: flex;
  justify-content: space-between;
}

/*
------------------------------------------------------------*/
.l-side {
  margin-right: 20px;
  width: 250px;
}

/*
------------------------------------------------------------*/
.l-main {
  width: 770px;

  @include sp {
    padding: 0 10px;
    width: 100%;
  }
}
