/*------------------------------------------------------------
side
------------------------------------------------------------*/

.c-side {
  margin-bottom: 72px;
  &__image {
    margin: 5px 0 67px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  &__navi {
    margin-bottom: 57px;
  }
  &__title {
    padding-bottom: 8px;
    border-bottom: 1px solid #231916;
    a,
    p {
      display: flex;
      position: relative;
      color: #231916;
      font-size: 1.8rem;
      font-weight: bold;
      letter-spacing: 0.05em;
      text-decoration: none;
      align-items: center;
      img {
        margin: 0 5px;
      }
    }
  }

  .c-search {
    margin-bottom: 47px;
    padding-bottom: 8px;
    &__box {
      input[type="text"] {
        height: 43px;
        font-size: 1.4rem;
        letter-spacing: 0.1em;
      }
      input[type="submit"] {
        background-size: unset;
        cursor: pointer;
      }
    }
  }
  .c-list1 {
    margin-bottom: 51px;
  }
}

#topSide {
  min-height: 5840px;
}
