//============================================
// サイト幅でセンタリング
//============================================
//@mixin center{
//	width: $baseWidth;
//	margin: 0 auto;
//}
//============================================
// clearfix
//============================================
@mixin clear {
  *zoom: 1;
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}

//============================================
// フォント
//============================================
@import url("https://fonts.googleapis.com/css?family=Ropa+Sans&display=swap");
//============================================
// breakpoint
//============================================
@mixin sp {
  @media screen and (max-width: #{$breakpoint1}) {
    @content;
  }
}
