/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-btn1 {
  a {
    box-sizing: border-box;
    padding: 11px 5px;
    width: 100%;
    max-width: 242px;
    height: 100%;
    background: #f5f7f7;
    border: 1px solid #cbcacb;
    border-radius: 10px;
    display: flex;
    color: #231f20;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    align-items: center;
    justify-content: center;
  }
}
