/*------------------------------------------------------------
title
------------------------------------------------------------*/

.c-title1 {
  padding-bottom: 8px;
  border-bottom: 1px solid #231916;
  position: relative;
  color: #231916;
  font-size: 3.1rem;
  letter-spacing: 0.06em;

  @include sp {
    font-size: 1.7rem;
  }
  &__text2 {
    margin-left: 15px;
    font-size: 1.4rem;
    letter-spacing: 0.03em;

    @include sp {
      margin-left: 0;
      font-size: 0.9rem;
      font-weight: normal;
    }
	}
  &__link {
    padding: 17px 0 11px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    color: #231916;
    font-size: 1.4rem;
    text-decoration: none;
    letter-spacing: 0.03em;

    @include sp {
      padding: 7px 0 6px;
      font-size: 1.1rem;
    }
  }
  &__noLink {
    padding: 12px 0 0;
    position: absolute;
    top: 0;
    right: 0;
    color: #231916;
    font-size: 1.4rem;
    font-weight: normal;
    letter-spacing: 0.03em;

    @include sp {
      padding: 3px 0 0;
      font-size: 1.1rem;
    }
  }
}

/*
------------------------------------------------------------*/

.c-title2 {
  padding-bottom: 6px;
  border-bottom: 1px solid #231916;
  color: #231916;
  font-size: 2.6rem;

  @include sp {
    padding-bottom: 3px;
    font-size: 1.6rem;
  }
}

/*
------------------------------------------------------------*/

.c-title3 {
  padding-bottom: 6px;
  border-bottom: 1px solid #231f20;
  color: #231f20;
  font-size: 1.4rem;

  @include sp {
    padding-bottom: 3px;
    font-size: 1.2rem;
  }
}

/*
------------------------------------------------------------*/

.c-title4 {
  color: #231f20;
  font-size: 2rem;

  @include sp {
    font-size: 1.4rem;
  }
}
