/*------------------------------------------------------------
text
------------------------------------------------------------*/

.c-text {
  color: #231916;
  h3 {
    margin-bottom: 6px;
    font-size: 1.8rem;
    @include sp {
      margin-bottom: 3px;
      font-size: 1.3rem;
    }
  }
  p {
    font-size: 1.4rem;
    line-height: 2;
    text-align: justify;

    @include sp {
      font-size: 1.2rem;
      line-height: 1.8;
    }
    + p {
      margin-top: 28px;
    }
  }
  a {
    color: #231916;
    text-decoration: none;
  }
}
