/*------------------------------------------------------------
img
------------------------------------------------------------*/

.c-image {
  text-align: center;
  img {
    max-width: 100%;
    height: auto;
  }
}

/*
------------------------------------------------------------*/
.c-image2 {
  img {
    max-width: 100%;
    height: auto;
  }
}
