/*------------------------------------------------------------
list
------------------------------------------------------------*/

.c-list1 {
  ul {
    li {
      margin-bottom: 15px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  a {
    color: #231916;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
  }
}

/*
------------------------------------------------------------*/

.c-list2 {
  ul {
    li {
      border-bottom: 1px solid #231916;
    }
  }
  a {
    padding: 9px 20px 9px 10px;
    display: block;
    position: relative;
    color: #231916;
    font-size: 1.3rem;
    text-decoration: none;
    &:after {
      position: absolute;
      top: 49%;
      right: 9px;
      color: #231916;
      font-size: 1.6rem;
      content: ">";
      transform: translateY(-50%);
    }
  }
}

/*
------------------------------------------------------------*/

.c-list3 {
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    margin-bottom: 30px;
    width: 45.585%;

    @include sp {
      margin-bottom: 30px;
      width: 48.215%;
    }
    a {
      display: block;
      color: #231916;
      text-decoration: none;
    }
  }
  &__image {
    margin-bottom: 13px;

    @include sp {
      margin-bottom: 10px;
    }
    img {
      max-width: 100%;
      height: auto;

      @include sp {
        width: 100%;
      }
    }
  }

  &__info {
    @include sp {
      padding: 0 5px;
    }
  }
  &__title {
    margin-bottom: 8px;
    font-size: 1.7rem;
    letter-spacing: 0.06em;

    @include sp {
      margin-bottom: 5px;
      font-size: 1.4rem;
    }
  }
  &__text {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;

    @include sp {
      font-size: 1.2rem;
      font-weight: normal;
    }
  }
}

/*
------------------------------------------------------------*/

.c-list4 {
  &__inner {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    margin: 0 0 50px 11.0375%;
    width: 25.975%;

    @include sp {
      margin: 0 3.125% 20px 0;
      width: 31.25%;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    &:nth-child(3n + 1) {
      margin-left: 0;
    }
    a {
      display: block;
      color: #231916;
      text-decoration: none;
    }
  }
  &__image {
    margin-bottom: 13px;

    @include sp {
      margin-bottom: 3px;
    }
    img {
      max-width: 100%;
      height: auto;

      @include sp {
        width: 100%;
      }
    }
  }
  &__info {
    position: relative;
    font-size: 1.3rem;
    line-height: 1.4;
    letter-spacing: 0.06em;

    @include sp {
      font-size: 1.2rem;
      word-break: break-all;
    }
  }
  &__tag {
    margin-top: 2px;
    padding: 2px;
    background: #e60013;
    display: inline-block;
    position: absolute;
    top: auto;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.05em;

    @include sp {
			margin-top: 1px;
			padding: 2px 2px 1px;
			font-size: 1rem;
			font-weight: normal;
    }
  }
}

/*
------------------------------------------------------------*/

.c-list5 {
  &__inner {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    margin: 0 0 30px 4.7075%;
    width: 16.234%;

    @include sp {
      margin: 0 3.125% 15px 0;
      width: 31.25%;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    &:nth-child(5n + 1) {
      margin-left: 0;
    }
    a {
      display: block;
      color: #231916;
      text-decoration: none;
    }
  }
  &__image {
    margin-bottom: 12px;

    @include sp {
      margin-bottom: 8px;
    }
    img {
      max-width: 100%;
      height: auto;

      @include sp {
        width: 100%;
      }
    }
  }
  &__info {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;

    @include sp {
      font-size: 1.2rem;
    }
  }
}

/*
------------------------------------------------------------*/

.c-list6 {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      margin-bottom: 40px;
      width: 48.702%;

      @include sp {
        margin-bottom: 20px;
      }
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

/*
------------------------------------------------------------*/

.c-list7 {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      margin-bottom: 30px;
      width: 31.43%;

      @include sp {
        margin-bottom: 15px;
      }
    }
  }
  .c-btn1 {
    height: 100%;
  }
}

/*
------------------------------------------------------------*/

.c-list8 {
  color: #231f20;
  font-size: 1.4rem;
  line-height: 2;

  @include sp {
    font-size: 1.2rem;
    line-height: 1.8;
  }
  ul {
    li {
      padding-left: 18px;
      position: relative;

      @include sp {
        padding-left: 9px;
      }
      &:before {
        position: absolute;
        top: -1px;
        left: 1px;
        color: #231f20;
        content: "・";
        transform: scale(1.5);

        @include sp {
          top: 0;
          left: 0;
          transform: scale(1);
        }
      }
    }
  }
  &--dot {
    ul {
      li {
        &:before {
          width: 4px;
          height: 4px;
          background: #231f20;
          border-radius: 50px;
          top: 12px;
          left: 6px;
          content: "";

          @include sp {
            width: 3px;
            height: 3px;
            top: 8px;
            left: 1px;
          }
        }
      }
    }
  }
}
