/*------------------------------------------------------------
table
------------------------------------------------------------*/

.c-table1 {
  color: #231916;
  font-size: 1.4rem;
  line-height: 2;

  @include sp {
    font-size: 1.2rem;
    line-height: 1.8;
  }
  dl {
    margin-bottom: 27px;

    @include sp {
      margin-bottom: 15px;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
    dt {
      margin-bottom: 1px;
      font-weight: bold;
    }
  }
  ul {
    li {
      margin-right: 22px;
      display: inline-block;
      @include sp {
        margin-right: 11px;
      }
      a {
        color: #231916;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/*
------------------------------------------------------------*/

.c-table2 {
  color: #231f20;
  font-size: 1.4rem;
  line-height: 2;

  @include sp {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  dl {
    border-bottom: 1px solid #c7c8ca;
    display: flex;
    dt {
      padding: 10px 0 11px 5px;
      width: 96px;
      @include sp {
        padding: 5px 0 6px 3px;
        width: 60px;
      }
    }
    dd {
      padding: 10px 5px 11px 0;
      width: calc(100% - 96px);
      @include sp {
        padding: 5px 3px 6px 0;
        width: calc(100% - 60px);
      }
    }
  }
}

/*
------------------------------------------------------------*/

.c-table3 {
  color: #231f20;
  font-size: 1.4rem;
  line-height: 2;

  @include sp {
    font-size: 1.2rem;
    line-height: 1.8;
  }
  dl {
    margin-bottom: 27px;
    display: flex;

    @include sp {
      margin-bottom: 15px;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
    dt {
      width: 112px;
      font-weight: bold;

      @include sp {
        width: 88px;
      }
    }
    dd {
      width: calc(100% - 112px);

      @include sp {
        width: calc(100% - 56px);
      }
    }
  }
  &__list {
    li {
      display: flex;
      span {
        width: 83px;
        font-weight: bold;

        @include sp {
          width: 52px;
        }
      }
      p {
        width: calc(100% - 83px);

        @include sp {
          width: calc(100% - 42);
        }
      }
    }
  }
  &__list2 {
    > li {
      padding-left: 18px;
      position: relative;
      text-align: justify;

      @include sp {
        padding-left: 9px;
      }
      &:before {
        width: 6px;
        height: 6px;
        background: #231f20;
        border-radius: 50px;
        position: absolute;
        top: 10px;
        left: 5px;
        content: "";
        @include sp {
          width: 3px;
          height: 3px;
          top: 8px;
          left: 2px;
        }
      }
    }
  }
  &__list3 {
    margin-top: 27px;

    @include sp {
      margin-top: 15px;
    }
    > li {
      padding-left: 18px;
      position: relative;
      @include sp {
        padding-left: 9px;
      }
      &:before {
        position: absolute;
        top: 0;
        left: 2px;
        color: #231f20;
        content: "※";
        @include sp {
          left: 0;
        }
      }
    }
  }
  &__list4 {
    > li {
      position: relative;
      &:before {
        display: inline-block;
        color: #231f20;
        content: "・";
        transform: scale(1.5);

        @include sp {
          transform: scale(1);
        }
      }
    }
  }
  .mt0 {
    margin-top: 0;
  }
  .img1 {
    margin: -5px 0 4px;
    max-width: 100%;
    height: auto;

    @include sp {
      width: 170px;
    }
  }
}

/*
------------------------------------------------------------*/

.c-table4 {
  color: #231f20;
  font-size: 1.4rem;
  @include sp {
    font-size: 1.2rem;
  }
  dl {
    margin-bottom: 7px;
    display: flex;
    &:last-of-type {
      margin-bottom: 0;
    }
    dt {
      margin-right: 20px;
      width: 98px;
      font-weight: bold;
      text-align-last: justify;

      @include sp {
        width: 100px;
      }
    }
    dd {
      width: calc(100% - 122px);

      @include sp {
        width: calc(100% - 61px);
      }
    }
  }
}

/*
------------------------------------------------------------*/

.c-table5 {
  color: #231f20;
  font-size: 1.4rem;
  line-height: 2;

  @include sp {
    font-size: 1.2rem;
    line-height: 1.8;
  }
  dl {
    margin-bottom: 28px;
    display: flex;

    @include sp {
      margin-bottom: 15px;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
    dt {
      width: 71px;
      font-weight: bold;

      @include sp {
        width: 44px;
      }
    }
    dd {
      width: calc(100% - 71px);

      @include sp {
        width: calc(100% - 44px);
      }
    }
  }
  &--history {
    line-height: 3;

    @include sp {
      line-height: 2;
    }
    & > p {
      font-weight: bold;
    }
    dl {
      margin-bottom: 0;

      @include sp {
        margin-bottom: 15px;
      }
      dt {
        width: 87px;

        @include sp {
          width: 64px;
          font-size: 1.2rem;
        }
      }
      dd {
        width: calc(100% - 87px);

        @include sp {
          width: calc(100% - 64px);
        }
      }
    }
  }
}
