/*------------------------------------------------------------
video
------------------------------------------------------------*/

.c-slide1 {
  img {
    width: 100%;
    height: auto;
  }
  .slick-dots {
    margin-top: 22px;
    text-align: center;

    @include sp {
      margin-top: 2px;
    }
    button {
      display: none;
    }
    li {
      margin: 0 5px;
      width: 9px;
      height: 9px;
      background: #9fa0a0;
      border-radius: 50px;
      display: inline-block;
      cursor: pointer;

      @include sp {
        margin: 0 2px;
        width: 5px;
        height: 5px;
      }
      &.slick-active {
        background: #231916;
      }
    }
  }
  .pre,
  .next {
    width: 40px;
    height: 60px;
    position: absolute;
    top: 46.5%;
    z-index: 10;
    cursor: pointer;
    transform: translateY(-50%);

    @include sp {
      width: 30px;
      top: 43%;
    }
    &:after {
      width: 12px;
      height: 12px;
      border-bottom: 2px solid #fff;
      border-left: 2px solid #fff;
      position: absolute;
      top: 50%;
      content: "";

      @include sp {
        width: 4px;
        height: 4px;
        border-width: 1px;
      }
    }
  }
  .pre {
    left: 0;
    &:after {
      left: 13px;
      transform: translateY(-50%) rotate(45deg);

      @include sp {
        left: 5px;
      }
    }
  }
  .next {
    right: 0;
    &:after {
      right: 13px;
      transform: translateY(-50%) rotate(225deg);

      @include sp {
        right: 5px;
      }
    }
  }
}

/*
------------------------------------------------------------*/
