/*------------------------------------------------------------
other
------------------------------------------------------------*/

.c-search {
  @include sp {
    padding-bottom: 8px;
  }
  &__box {
    border-bottom: 1px solid #231916;
    display: flex;
    input[type="text"] {
      width: calc(100% - 30px);
      height: 45px;
      border: none;
      color: #231916;
      font-size: 1.4rem;
      font-weight: bold;

      @include sp {
        height: 25px;
        font-size: 1.05rem;
      }
    }
    ::placeholder {
      color: #9fa0a0;
    }
    input[type="submit"] {
      width: 30px;
      background: none;
      background-color: #fff;
      background-image: url(/assets/img/common/icon_10.png);
      background-repeat: no-repeat;
      background-position: right top 8px;
      border: none;

      appearance: none;
      @include sp {
        background-size: 11px;
      }
    }
  }
}

/*
------------------------------------------------------------*/

.c-top {
  text-align: right;
  p {
    padding-right: 23px;
    display: inline-block;
    position: relative;
    color: #231916;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    cursor: pointer;

    @include sp {
      padding-right: 12px;
      font-size: 0.7rem;
    }
    &:after {
      width: 8px;
      height: 8px;
      border-top: 2px solid #231916;
      border-left: 2px solid #231916;
      position: absolute;
      top: 5px;
      right: 3px;
      content: "";
      transform: rotate(45deg);

      @include sp {
        width: 4px;
        height: 4px;
        border-width: 1px;
        top: 4px;
        right: 1px;
      }
    }
  }
}

/*
------------------------------------------------------------*/

.c-info {
  &__title {
    color: #231f20;
    font-size: 1.4rem;

    @include sp {
      font-size: 1.2rem;
    }
  }
  &__phase {
    padding-bottom: 58px;
    overflow: hidden;

    @include sp {
      padding-bottom: 30px;
    }
    &:last-of-type {
      padding-bottom: 0;
    }
  }
  &__line {
    margin-top: 63px;
    padding-left: 30px;
    display: flex;

    @include sp {
      margin-top: 32px;
    }
    li {
      width: 25%;
      border-bottom: 2px solid #231f20;
      position: relative;
      &:before {
        width: 14px;
        height: 14px;
        background: #d1d3d4;
        border-radius: 50px;
        position: absolute;
        top: -6px;
        left: -8px;
        z-index: 10;
        content: "";
      }
      span {
        width: 100%;
        position: absolute;
        top: -35px;
        left: -50%;
        color: #231f20;
        font-size: 1.4rem;
        text-align: center;
        white-space: nowrap;

        @include sp {
          top: -20px;
          font-size: 1rem;
        }
      }
      &:last-of-type {
        width: 0;
        &:before {
          background: #231f20;
          left: -5px;
        }
      }
      &:nth-child(5) {
        &:before {
          left: -14px;
        }
      }
    }
  }
  &__detail {
    padding-top: 27px;
    padding-left: 30px;
    display: flex;
    li {
      width: 25%;
      &:first-of-type {
        .c-info__box {
          margin-left: -10px;
          &:before {
            left: 9px;

            @include sp {
              left: 7px;
            }
          }
        }
      }
      &:last-of-type {
        .c-info__box {
          &:before {
            left: 51.5%;

            @include sp {
              left: 52.6%;
            }
          }
        }
      }
    }
  }
  &__box {
    margin-left: -49%;
    padding: 16px 15px 15px 15px;
    width: 98%;
    height: 100%;
    border: 1px solid #231f20;
    display: flex;
    position: relative;
    color: #231f20;
    align-items: center;
    justify-content: center;

    @include sp {
      padding: 5px;
    }
    &:before {
      width: 0;
      height: 30px;
      border-left: 1px dotted #231f20;
      position: absolute;
      top: -30px;
      left: 49.5%;
      content: "";
      transform: translateX(-50%);

      @include sp {
        left: 49%;
      }
    }
    h5 {
      font-size: 1.4rem;
      text-align: center;

      @include sp {
        font-size: 1rem;
      }
    }
    p {
      font-size: 1.3rem;
      text-align: justify;

      @include sp {
        font-size: 1rem;
      }
    }
  }
  &__box2 {
    margin-left: -39%;
    padding: 18px 0 15px 24px;
    width: 145%;
    position: relative;
    color: #231f20;

    @include sp {
      width: 120%;
    }
    &:before {
      width: 22px;
      height: 50px;
      border-bottom: 1px solid #231f20;
      border-left: 1px solid #231f20;
      position: absolute;
      top: -24px;
      left: 0;
      content: "";
    }
    &:after {
      width: 0;
      height: 0;
      border-right: 4px solid transparent;
      border-bottom: 6px solid #231f20;
      border-left: 4px solid transparent;
      position: absolute;
      top: -27px;
      left: -3.5px;
      content: "";
    }
    h5 {
      font-size: 1.4rem;

      @include sp {
        font-size: 1rem;
        text-align: center;
      }
    }
    p {
      font-size: 1.3rem;

      @include sp {
        font-size: 1rem;
      }
    }
  }
}

/*
------------------------------------------------------------*/

.c-info2 {
  &__title {
    margin-bottom: 19px;
    color: #231f20;
    font-size: 1.4rem;
    font-weight: bold;

    @include sp {
      margin-bottom: 10px;
      font-size: 1.2rem;
    }
  }
  &__imgtxt {
    margin-bottom: 58px;
    display: flex;
    align-items: center;

    @include sp {
      margin-bottom: 30px;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__img {
    width: 50%;
    img {
      max-width: 100%;
      height: auto;

      @include sp {
        max-width: 85%;
      }
    }
  }
  &__txt {
    padding: 13px 0 0 10px;
    width: 50%;
    color: #231f20;
    font-size: 1.4rem;
    text-align: justify;

    @include sp {
      padding: 6px 0 0 5px;
      font-size: 1rem;
    }
  }
}

/*
------------------------------------------------------------*/

.c-info3 {
  &__item {
    margin-bottom: 40px;
    display: flex;
    align-items: center;

    @include sp {
      margin-bottom: 20px;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__img {
    width: 39%;
    text-align: center;
    img {
      max-width: 100%;
      height: auto;

      @include sp {
        max-width: 65%;
      }
    }
  }
  &__txt {
    margin-top: -5px;
    padding-left: 5px;
    width: 61%;
    color: #231f20;
    > span {
      margin-bottom: 2px;
      display: block;
      font-size: 1.8rem;
      font-weight: bold;

      @include sp {
        font-size: 1.2rem;
      }
    }
    p {
      font-size: 1.4rem;
      line-height: 2;

      @include sp {
        font-size: 1rem;
      }
      > span {
        font-weight: bold;
      }
    }
  }
}

/*
------------------------------------------------------------*/

.c-faq {
  color: #231f20;
  font-size: 1.4rem;
  line-height: 2;

  @include sp {
    font-size: 1.2rem;
    line-height: 1.8;
  }
  &__item {
    margin-bottom: 28px;
    border: 1px solid #231f20;
    text-align: justify;

    @include sp {
      margin-bottom: 14px;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__q {
    padding: 12px 10px 9px 41px;
    background: #dcddde;
    border-bottom: 1px solid #231f20;
    position: relative;

    @include sp {
      padding: 6px 5px 5px 20px;
    }
  }
  &__a {
    padding: 12px 25px 12px 42px;
    position: relative;

    @include sp {
      padding: 6px 7px 6px 21px;
    }
  }
  &__icon1 {
    position: absolute;
    top: 6px;
    left: 15px;
    font-size: 2.1rem;
    font-weight: bold;

    @include sp {
      top: 5px;
      left: 7px;
      font-size: 1.25rem;
    }
  }
  &__icon2 {
    position: absolute;
    top: 6px;
    left: 15px;
    font-size: 2.1rem;
    font-weight: bold;

    @include sp {
      top: 5px;
      left: 7px;
      font-size: 1.25rem;
    }
  }
  a {
    color: #231f20;
    font-weight: bold;
  }
}
