/*------------------------------------------------------------
company
------------------------------------------------------------*/

.p-company1 {
  .c-title2 {
    margin: 37px 0 40px;

    @include sp {
      margin: 18px 0 20px;
    }
  }
  .c-image {
    margin-bottom: 37px;

    @include sp {
      margin-bottom: 18px;
    }
  }
  .c-table5 {
    margin-bottom: 82px;

    @include sp {
      margin-bottom: 41px;
    }
  }
}

/*
------------------------------------------------------------*/
.p-company2 {
  padding-bottom: 40px;

  @include sp {
    padding-bottom: 20px;
  }
  .c-title2 {
    margin-bottom: 40px;

    @include sp {
      margin-bottom: 20px;
    }
  }
  .c-image {
    margin-bottom: 37px;

    @include sp {
      margin-bottom: 18px;
    }
  }
  .c-text {
    margin-bottom: 27px;

    @include sp {
      margin-bottom: 13px;
    }
  }
  .c-table5 {
    margin-bottom: 113px;

    @include sp {
      margin-bottom: 56px;
    }
    dl {
      margin-bottom: 0;
    }
  }
}
