/*------------------------------------------------------------
faq
------------------------------------------------------------*/

.p-faq {
  .c-title2 {
    margin-top: 37px;

    @include sp {
      margin-top: 18px;
    }
  }
  .c-title4 {
    margin: 54px 0 26px;
    font-size: 1.8rem;
    @include sp {
      margin: 27px 0 13px;
      font-size: 1.4rem;
    }
  }
  .c-list8 {
    margin-bottom: 27px;

    @include sp {
      margin-bottom: 13px;
    }
  }
  section {
    &:last-of-type {
      margin-bottom: 100px;

      @include sp {
        margin-bottom: 70px;
      }
    }
  }
}
