/*------------------------------------------------------------
goods
------------------------------------------------------------*/

.p-goods {
  .c-breadcrumb {
    line-height: 1.4;
  }
}

/*
------------------------------------------------------------*/
.p-goods1 {
  .c-title2 {
    margin: 63px 0 44px;

    @include sp {
      margin: 31px 0 22px;
    }
  }
  .c-text {
    margin-bottom: 43px;

    @include sp {
      margin-bottom: 21px;
    }
    p {
      line-height: 1.8;
      + p {
        margin-top: 24px;

        @include sp {
          margin-top: 12px;
        }
      }
    }
  }
  .c-image {
    img + img {
      margin-top: 10px;

      @include sp {
        margin-top: 5px;
      }
    }
  }
}

/*
------------------------------------------------------------*/
.p-goods2 {
  padding: 75px 0 100px;

  @include sp {
    padding: 37px 0 100px;
  }
  .c-title1 {
    margin-bottom: 20px;
    font-size: 2.1rem;
    @include sp {
      margin-bottom: 10px;
      font-size: 1.6rem;
    }
  }
}
