/*------------------------------------------------------------
guide
------------------------------------------------------------*/

.p-guide {
  .c-title2 {
    margin: 37px 0 54px;

    @include sp {
      margin: 18px 0 27px;
    }
  }
  .c-list7 {
    margin-bottom: 29px;

    @include sp {
      margin-bottom: 15px;
    }
  }
}

/*
------------------------------------------------------------*/

.p-guide1 {
  padding-top: 38px;

  @include sp {
    padding-top: 20px;
  }
  .c-title4 {
    margin-bottom: 27px;

    @include sp {
      margin-bottom: 13px;
    }
  }
  .c-text {
    margin-bottom: 22px;

    @include sp {
      margin-bottom: 11px;
    }
    p > a {
      text-decoration: underline;
    }
  }
  .c-top {
    margin-top: 36px;

    @include sp {
      margin-top: 18px;
    }
  }
}

/*
------------------------------------------------------------*/

.p-guide2 {
  padding-top: 38px;

  @include sp {
    padding-top: 20px;
  }
  .c-title3 {
    margin-bottom: 36px;

    @include sp {
      margin-bottom: 18px;
    }
  }
  .c-title4 {
    margin-bottom: 32px;

    @include sp {
      margin-bottom: 16px;
    }
  }
  .c-table3 {
    margin-bottom: 51px;

    @include sp {
      margin-bottom: 25px;
    }
  }
  .c-text {
    margin-bottom: 25px;

    @include sp {
      margin-bottom: 12px;
    }
  }
  .c-image2 {
    margin-bottom: 33px;

    @include sp {
      margin-bottom: 16px;
      .img1 {
        width: 234px;
      }
      .img2 {
        width: 109px;
      }
    }
  }
  .c-top {
    margin-top: 30px;

    @include sp {
      margin-top: 15px;
    }
  }
}

/*
------------------------------------------------------------*/

.p-guide3 {
  padding-top: 38px;

  @include sp {
    padding-top: 20px;
  }
  .c-title3 {
    margin-bottom: 36px;

    @include sp {
      margin-bottom: 18px;
    }
  }
  .c-title4 {
    margin-bottom: 32px;

    @include sp {
      margin-bottom: 16px;
    }
  }
  .c-table3 {
    margin-bottom: 51px;

    @include sp {
      margin-bottom: 25px;
    }
  }
  .c-text {
    margin-bottom: 25px;

    @include sp {
      margin-bottom: 12px;
    }
  }
  .c-info2 {
    margin-bottom: 55px;

    @include sp {
      margin-bottom: 27px;
    }
  }
  .c-top {
    margin-top: 30px;

    @include sp {
      margin-top: 15px;
    }
  }
}

/*
------------------------------------------------------------*/

.p-guide4 {
  padding-top: 38px;

  @include sp {
    padding-top: 20px;
  }
  .c-title3 {
    margin-bottom: 25px;

    @include sp {
      margin-bottom: 12px;
    }
  }
  .c-title4 {
    margin-bottom: 32px;

    @include sp {
      margin-bottom: 16px;
    }
  }
  .c-text {
    margin-bottom: 33px;

    @include sp {
      margin-bottom: 16px;
    }
  }
  .c-list8 {
    margin-bottom: 30px;

    @include sp {
      margin-bottom: 15px;
    }
  }
}

/*
------------------------------------------------------------*/

.p-guide5 {
  padding-top: 36px;

  @include sp {
    padding-top: 20px;
  }
  .c-title4 {
    margin-bottom: 32px;

    @include sp {
      margin-bottom: 16px;
    }
  }
  .c-text {
    margin-bottom: 33px;

    @include sp {
      margin-bottom: 16px;
    }
  }
  .c-top {
    margin-top: 35px;

    @include sp {
      margin-top: 17px;
    }
  }
}

/*
------------------------------------------------------------*/

.p-guide6 {
  padding: 32px 0 185px;

  @include sp {
    padding: 16px 0 92px;
  }
  .c-title4 {
    margin-bottom: 32px;

    @include sp {
      margin-bottom: 16px;
    }
  }
}
