/*------------------------------------------------------------
search
------------------------------------------------------------*/

.p-search {
  @include sp {
    padding-bottom: 40px;
  }
  .c-title1 {
    margin: 38px 0 12px;

    @include sp {
      margin: 20px 0 6px;
    }
  }
  section {
    margin-bottom: 87px;

    @include sp {
      margin-bottom: 44px;
    }
  }
}
