/*------------------------------------------------------------
top
------------------------------------------------------------*/

.p-top {
  @include sp {
    padding-bottom: 8px;
  }
  .c-slide1 {
    margin-bottom: 62px;

    @include sp {
      margin-bottom: 21px;
      max-height: 197px;
    }
  }
  .c-side__image {
    display: none;
  }
}

/*
------------------------------------------------------------*/

.p-top1 {
  padding: 4px 0 65px;

  @include sp {
    padding: 0 0 17px;
  }
  .c-title1 {
    margin-bottom: 50px;

    @include sp {
      margin-bottom: 10px;
    }
  }
}

/*
------------------------------------------------------------*/

.p-top2,
.p-top3,
.p-top4,
.p-top5 {
  padding: 0 0 65px;

  @include sp {
    padding: 0 0 14px;
  }
  .c-title1 {
    margin-bottom: 50px;

    @include sp {
      margin-bottom: 20px;
    }
  }
}
